
*
# /parallel_diffusion/*
# /parallel_diffusion/base/*
# /parallel_diffusion/test/*
# /serial_diffusion/*

# Ignore all except:
!/.gitignore
!/parallel_diffusion/base/diffusion.py
!/parallel_diffusion/base/ftcs.py
!/parallel_diffusion/base/submit_script.sh
!/parallel_diffusion/test/test_diffusion.py
!/parallel_diffusion/test/test_ftcs.py
!/parallel_diffusion/test/submit_script.sh
!/parallel_diffusion/scp_collect_results_folder.bat
!/parallel_diffusion/scp_send_folder.bat
!/parallel_diffusion/plots.py
!/parallel_diffusion/run_scripts.py
!/serial_diffusion/diffusion.py
!/serial_diffusion/ftcs.py

!/README.md
