/serial_diffusion/*
/parallel_diffusion/numerical_mpi_even/results/results_*
/parallel_diffusion/numerical_mpi_even/results/plot_t301_results_compiled/
slurm*

# Ignore all except:
!.gitignore
!/serial_diffusion/diffusion.py
!/serial_diffusion/ftcs.py
!/README.md
